.cache
bigfive_score_steer
log

# Directories
exp/
exp_L10-30/
exp_pca/
exp_pca_L10-30/
persona_steering/
_backup_before_clone/
analysis_results/

# Caches and Tokens
.hf_cache/
.hf_token
.uv_cache/
.ssh/
.venv/
__pycache__/
*.pyc
.DS_Store

# Dynamic Experiment Directories
exp_*/
